package examples

import (
	popui "github.com/invopop/popui/go"
	"github.com/invopop/popui/go/props"
)

templ BreadcrumbExample() {
	@popui.Breadcrumb() {
		@popui.BreadcrumbItem(props.BreadcrumbItem{
			Label: "Home",
			Href:  "/",
		})
		@popui.BreadcrumbItem(props.BreadcrumbItem{
			Label: "Products",
			Href:  "/products",
		})
		@popui.BreadcrumbItem(props.BreadcrumbItem{
			Label: "Electronics",
		})
	}
}
