package examples

import (
	popui "github.com/invopop/popui/go"
	"github.com/invopop/popui/go/props"
)

templ BreadcrumbWithChildrenExample() {
	@popui.Breadcrumb() {
		@popui.BreadcrumbItem(props.BreadcrumbItem{
			Href: "/",
		}) {
			<span>🏠 Home</span>
		}
		@popui.BreadcrumbItem(props.BreadcrumbItem{
			Href: "/products",
		}) {
			<span>📦 Products</span>
		}
		@popui.BreadcrumbItem(props.BreadcrumbItem{}) {
			<span>💻 Electronics</span>
		}
	}
}
