package icons

// Show renders the icon specified directly as output. The default theme will be used.
//
//  @icons.Show("tag")
templ Show(filename string) {
	if data, err := loadFile(ThemeDefault, filename); err == nil {
		<div style="width: 16px; height: 16px;">
			@templ.Raw(string(data))
		</div>
	} else {
		<!-- err with icon -->
	}
}
