@font-face {
  font-family: "CommitMono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./CommitMono-Regular-400-Regular.otf") format("otf");
}
@font-face {
  font-family: "CommitMono";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("./CommitMono-Regular-400-Italic.otf") format("otf");
}
@font-face {
  font-family: "CommitMono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./CommitMono-Medium-500-Regular.otf") format("otf");
}
@font-face {
  font-family: "CommitMono";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("./CommitMono-Medium-500-Italic.otf") format("otf");
}
@font-face {
  font-family: "CommitMono";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./CommitMono-Semibold-600-Regular.otf") format("otf");
}
@font-face {
  font-family: "CommitMono";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("./CommitMono-Semibold-600-Italic.otf") format("otf");
}
