package popui

import "github.com/invopop/popui/go/classes"

// Breadcrumbs provides a popui component to show navigation breadcrumbs. List items can be either links or text
templ Breadcrumbs() {
	<ul class={ classes.Breadcrumbs }>
		{ children... }
	</ul>
}
