package popui

import "github.com/invopop/popui/go/classes"

// PopupConfigContainer provides a wrapper for sidebar popups used on the Invopop Console UI
templ PopupConfigContainer() {
	<div x-cloak class={ classes.PopupConfigContainer }>
		{ children... }
	</div>
}
