package examples

import (
	popui "github.com/invopop/popui/go"
	"github.com/invopop/popui/go/props"
)

templ CardAsLinkExample() {
	@popui.Card(props.Card{
		Href: "/profile",
	}) {
		@popui.CardHeader(props.CardHeader{
			Title:    "Clickable Card",
			Subtitle: "Click anywhere to navigate",
		}) {
			@popui.Avatar(props.Avatar{
				Size:    "lg",
				Initial: "C",
			})
		}
		@popui.CardContent() {
			This entire card is clickable.
		}
	}
}
