name: Release

on:
  push:
    branches: main
    paths:
      - 'svelte/**'
      - '.github/workflows/publish.yml'

permissions:
  id-token: write # Required for OIDC
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22.x
          registry-url: 'https://registry.npmjs.org'

      # Ensure npm 11.5.1 or later is installed
      - name: Update npm
        run: npm install -g npm@latest

      - run: npm ci
        working-directory: svelte

      - run: npm run package
        working-directory: svelte

      # Publish to npm
      - name: Publish to NPM registry
        working-directory: svelte
        run: npm publish --provenance --access public --tag beta
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}